@{
    ViewData["Title"] = "Доспуп заблоковано :(";
}

<h3 class="title__alert">Доспуп заблоковано :(</h3>
<form>
    <a class="signin__button" asp-action="index" asp-controller="home">На головну</a>
</form>