@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Забули пароль? Замініть його на новий!";
}

<div class="passrecovery">
    <div class="container">
        <div class="passrecovery__inner">

            <h2 class="title passrecovery__title">
                @Model.User.FullName
            </h2>
            <div class="passrecovery__description" style="margin-bottom: 40px;">
                Введітьновий такий новий пароль, щоб Ви бильше не забули і не надто простий. Никому посторонньому не показуйте свій пароль.
                Ми у свою чергу гарантуємо конфеденційніть Вашої приватної інформації на нашому сайті.
            </div>

            <form method="POST" class="passrecovery__form form"
                  asp-controller="account" asp-action="ChangePassword"
                  asp-route-id="@Model.User.Id" asp-route-token="@Model.Token">

                <div class="form__blck">
                    <input class="signin__input" asp-for="Password" type="password" placeholder="Новий пароль">
                </div>

                <div class="form__blck">
                    <input class="signin__input" asp-for="PasswordConfirm" type="password" placeholder="Підтвердіть пароль">
                </div>
                
                <button class="passrecovery__button" type="submit" style="margin-top: 20px;"></button>

            </form>

        </div>
    </div>
</div>