@model User

@{
    var user = await userManager.GetUserAsync(User);
    bool isOwnPage = user?.Id == Model.Id;
    ViewData["Title"] = "Кабінет користувача - " + user?.FullName;

    var conference = dataManager.Conferences.Current;
    var articles = dataManager.Articles.GetByAuthor(Model.Id)
        .OrderBy(a => a.DateLastModified).Reverse().ToArray();

}

<style>
    a {
    color: red !important;
    }
    a:hover {
    color: orangered !important;
    }
</style>

@if (user != null)
{
<div class="user-info">
    <h2>@Model.FullName</h2>
    @if (isOwnPage)
    {
        @if (user.EmailConfirmed)
        {
            <a asp-controller="account" asp-action="edit">Налаштування</a>
        }
        else
        {
            <p>Підтвердіть, будь ласка, Вашу пошту</p>
        }
    }
</div>

<hr>

@if (isOwnPage)
{
    <div class="conferences-workshop">
        @if (conference != null)
        {
            @if (await userManager.IsInRoleAsync(user, RoleNames.MANAGER))
            {
                <a asp-action="edit" asp-controller="conference">EDIT</a>
                <a asp-action="moveToArchive" asp-controller="conference">Move to archive</a>

                @if (conference.Participants.All(item => item == null))
                {
                    <a asp-action="delete" asp-controller="conference">Delete</a>
                }
            }
            
            <a asp-action="index" asp-controller="conference">Current conference</a>
        }
        else
        {
            @if (await userManager.IsInRoleAsync(user, RoleNames.MANAGER))
            {
                <a asp-action="create" asp-controller="conference">CREATE</a>
            }
            else
            {
                <p>Наразі не заплановано жодної конференції</p>
            }
        }
        <a asp-action="archive" asp-controller="conference">Archive</a>
    </div>
}

<div class="articles-workshop">
    @if (isOwnPage)
    {
        <h2>Мої матеріали</h2>
        @if (conference != null)
        {
            <a asp-controller="articles" asp-action="create">Створити новий</a>
            <br>
        }
        else
        {
            <p>Немає жодної конференції, до якої була би можливість додати матеріал</p>
        }
    }
    else
    {
        <p>Матеріали від автора</p>
    }

    @if (articles.Any())
    {
        @await Html.PartialAsync("Components/ArticlesList", articles)
    }
    else
    {
        <p>Порожньо</p>
    }
</div>
}