@model RegisterViewModel

@{
    ViewData["Title"] = "Зареєструватися у системі";
    ViewData["DisableFooterLoginForm"] = true;
}


<div class="signin signup">
    <div class="container">
        <div class="signin__inner">

            <h2 class="signin__title title">Зареєструватися</h2>
            <div asp-validation-summary="All"></div>

            <form class="register__form" id="signup" method="post"
                  asp-controller="account" asp-action="register"
                  asp-route-returnUrl="@Model.ReturnUrl">

                <div class="form__blck form__blck--trpl">
                    <input asp-for="MiddleName" type="text" placeholder="Прізвище">
                    <input asp-for="FirstName" type="text" placeholder="Ім'я">
                    <input asp-for="LastName" type="text" placeholder="По-батькові">
                </div>

                <div class="form__blck form__blck--select form__blck--dbl">
                    <input asp-for="WorkingFor" type="text" placeholder="Тема праці">
                    <div class="signup__select">
                        <select type="select" asp-for="ScienceDegree" asp-items="Html.GetEnumSelectList<ScienceDegree>()">
                            <option disabled selected="selected">Науковий ступінь</option>
                            <option class="signup__difference" value="difference">Інше...</option>
                        </select>
                    </div>
                </div>

                <div class="form__blck form__blck--select form__blck--dbl">
                    <div class="signup__select">
                        <select type="select" asp-for="AcademicTitle" asp-items="Html.GetEnumSelectList<AcademicTitle>()">
                            <option value="" disabled selected>Вчене звання</option>
                            <option class="signup__difference" value="difference">Інше...</option>
                        </select>
                    </div>
                    <div class="signup__select">
                        <select type="select" asp-for="ParticipationForm" asp-items="Html.GetEnumSelectList<ParticipationForm>()">
                            <option value="" disabled selected>Форма участі</option>
                        </select>
                    </div>
                </div>

                <div class="form__blck">
                    <input asp-for="Email" type="email" placeholder="Поштова скринька">
                </div>

                <div class="form__blck form__blck--dbl">
                    <input asp-for="Password" type="password" placeholder="Пароль">
                    <input asp-for="PasswordConfirm" type="password" placeholder="Повторіть пароль">
                </div>

                <div class="form__buttons">
                    <a class="signin__button" style="padding-top: 15px;" asp-action="index" asp-controller="home">
                        На головну
                    </a>
                    <button class="button signin__button" style="padding-top: 10px; padding-right: 20px;" type="submit">
                        Реєстрація
                        <picture>
                            <source srcset="~/img/icons/atom.webp" type="image/webp">
                            <img src="~/img/icons/atom.png" alt="">
                        </picture>
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>