@model string

@{
    ViewData["Title"] = "Операція пройшла успішно!";

    var user = await userManager.GetUserAsync(User);
}


<h3 class="title__alert">@Model</h3>
<h3 class="title__alert">@ViewBag.Message</h3>

<form>
    @if (user != null)
    {
        <a class="signin__button" asp-controller="account" asp-action="index" asp-route-x="@user.ProfileAddress">
            Назад
        </a>
    }
    else
    {
        <a class="signin__button" asp-action="login" asp-controller="account">Вхід</a>
    }
</form>