@using Microsoft.AspNetCore.Html
@model IEnumerable<ConferenceViewModel>

@{
    ViewData["Title"] = "Архів попередніх конференцій";

    // ViewData["meta_description"] = "";
    // ViewData["meta_google"] = "";
    // ViewData["meta_keywords"] = "";
    // // ViewData["meta_robots"] = "";
    //
    // ViewData["meta_socials_title"] = "";
    // // ViewData["meta_socials_url"] = "";
    // ViewData["meta_socials_description"] = "";
    // // ViewData["meta_socials_image"] = null;


    IHtmlContent GetDateDisplayString(ConferenceViewModel conference)
    {
        string dateStart = conference.DateStart.ToString("dd/MM/yyyy");
        string dateFinish = conference.DateFinish.ToString("dd/MM/yyyy");
        return Html.Raw(dateStart == dateFinish ? dateStart : $"з {dateStart} по {dateFinish}");
    }
}


<section class="archive">
    <div class="container">
        <div class="archive__inner">

            <h2 class="archive__title title">Архів</h2>
            <h3 class="archive__subtitle">Список минулих конференцій</h3>

            @if (!Model?.Any() ?? true)
            {
                <h3 class="title__alert">Поки тут порожньо...</h3>
            }
            else
            {
                @foreach (var conference in Model)
                {
                    <div class="archive__item">

                        <div class="archive__img">
                            <picture>
                                <source srcset="~/img/bg--.webp" type="image/webp">
                                <img src="~/img/bg--.jpg" alt="" class="archive__pht">
                            </picture>
                            <div class="archive__date">
                                @GetDateDisplayString(conference)
                            </div>
                        </div>

                        <div class="archive__description">
                            <h3 class="archive__heading">@conference.Title</h3>

                            <div class="archive__text">
                                @conference.ShortDescription

                                <div class="register__form" style="margin-top: 40px;">
                                    <a class="signin__button download__button" asp-action="index" asp-controller="conference">
                                        Детальніше
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>
                }

                <partial name="Components/ScrollButton"/>
            }

        </div>
    </div>
</section>