@model ConferenceViewModel

@{
    Layout = "_Layout";
    var user = await userManager.GetUserAsync(User);
}

@if (Model == null)
{
    <h2>Is empty yet.</h2>
}
else
{
    if (!await userManager.IsInRoleAsync(user, RoleNames.SEMPAI))
    {
        @if (Model.Participants.Any(a => a.UserId == user.Id))
        {
            <p>You arleady subscribed</p>
            <a asp-action="Unsubscribe" asp-controller="conference">Unsubscribe</a>
        }
        else
        {
            <a asp-action="JoinNow" asp-controller="conference">Join now!</a>
        }

        @ViewData["ResultMessage"]
    }

    <div>
        <p>@Model.Description</p>
    </div>
}