@model ConferenceViewModel

@{
    ViewData["Title"] = Model?.Title;

    var user = await userManager.GetUserAsync(User);
}


@* TODO: remove this styles *@
<style>
    a {
    color: red !important;
    }
    a:hover {
    color: orangered !important;
    }
</style>


@if (Model == null)
{
    <h2>Is empty yet.</h2>
}
else
{
    if (!await userManager.IsInRoleAsync(user, RoleNames.MANAGER))
    {
        @if (Model.Participants.Any(a => a.UserId == user.Id))
        {
            <p>Ви приєдналися до конференції</p>
            <a asp-action="Unsubscribe" asp-controller="conference">Покинути конференцію</a>
        }
        else
        {
            <a asp-action="JoinNow" asp-controller="conference">Приєднатися!</a>
        }

        @ViewData["ResultMessage"]
    }

    <div>
        @Html.Raw(Model.Description)
    </div>
}