<style>
    table {
        margin: 60px auto;
    }
    td > a {
        color: #BE0000;
        margin-bottom: 15px;
    }
</style>

<table>
    <tr>
        <td>
            <a href="https://github.com/jurilents">JuriLents</a>
        </td>
        <td>
            ASP.NET MVC Backend solo-development from database to Razor views
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://github.com/jurilents">MiTo</a>
        </td>
        <td>
            Gulp with Sass Frontend solo-development
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://www.instagram.com/18_agafonova_18/">Agafonova</a>
        </td>
        <td>
            Content management and support
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://github.com/Dan4ef">Dan4ef</a>
        </td>
        <td>
            Testing and suppors
        </td>
    </tr>
</table>