@inject ProjectConfig Config

@{
    ViewData["Title"] = "Зворотній зв'язок";
    ViewData["meta_robots"] = "";

    const string emailSubject = "Зворотній зв'язок з адміністрацією сервісу";
}

<h1>Feedback</h1>
<a href="tel:@Config.Feedback.ShortPhone">Phone: @Config.Feedback.PhoneNumber</a>
<a href="mailto:@Config.Feedback.Email?subject=@emailSubject">@Config.Feedback.Email</a>