@inject ProjectConfig Config

@{
    ViewData["Title"] = "Зворотній зв'язок";
    ViewData["meta_robots"] = "";

    const string emailSubject = "Зворотній зв'язок з адміністрацією сервісу";
}

<div class="container">
    <h1>Зворотній зв'язок з адміністрациєю</h1>
    <a href="tel:@Config.Feedback.ShortPhone">Телефон: @Config.Feedback.PhoneNumber</a>
    <a href="mailto:@Config.Feedback.Email?subject=@emailSubject">Email: @Config.Feedback.Email</a>
</div>