@{
    ViewData["Title"] = "Політика конфединційності інформації";
    
    ViewData["meta_description"] = "";
    ViewData["meta_google"] = "";
    ViewData["meta_keywords"] = "";
    // ViewData["meta_robots"] = "";
    
    ViewData["meta_socials_title"] = "";
    ViewData["meta_socials_description"] = "";
    // ViewData["meta_socials_image"] = null;
}

<div style="margin-top: 300px;">
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
</div>