<div class="articles__searching searching">
    <div class="articles__hexa" id="hexaSearch">
        <picture>
            <source srcset="~/img/icons/hexasearch.svg" type="image/webp">
            <img src="~/img/icons/hexasearch.svg" alt="" class="articles__seach">
        </picture>
    </div>

    <ul class="articles__menu">
        <li class="articles__link">
            Категорія <span></span>
            <ul class="articles__submenu">
                <li class="articles__sublink">Теорія</li>
                <li class="articles__sublink">Практикум</li>
                <li class="articles__sublink">Комп`ютери</li>
                <li class="articles__sublink">Теорія</li>
                <li class="articles__sublink">Практикум</li>
                <li class="articles__sublink">Комп`ютери</li>
                <li class="articles__sublink">Теорія</li>
                <li class="articles__sublink">Практикум</li>
                <li class="articles__sublink">Комп`ютери</li>
                <li class="articles__sublink">Теорія</li>
                <li class="articles__sublink">Практикум</li>
                <li class="articles__sublink">Комп`ютери</li>
                <li class="articles__sublink">Теорія</li>
                <li class="articles__sublink">Практикум</li>
                <li class="articles__sublink">Комп`ютери</li>
                <li class="articles__sublink">Теорія</li>
                <li class="articles__sublink">Практикум</li>
                <li class="articles__sublink">Комп`ютери</li>
            </ul>
        </li>
    </ul>

    <form action="" class="articles__form" id="articlesForm" name="articlesForm">
        <input class="articles__input" type="text">
        <picture>
            <source srcset="~/img/icons/search.svg" type="image/webp">
            <img src="~/img/icons/search.svg" alt="">
        </picture>
        <button class="articles__button searching__button">Пошук</button>
    </form>
</div>