@model NewArticleViewModel

@{
    ViewData["Title"] = "Створення нового матеріалу";

    var allTopics = dataManager.Topics.GetAll().ToArray();
}

<form enctype="multipart/form-data" asp-controller="articles" asp-action="create"
      method="post" asp-route-returnUrl="@Url.Action("list", "articles")">
    <div asp-validation-summary="All">
        <div>
            <label asp-for="TopicId"></label>
            @if (allTopics.Any())
            {
                <select asp-for="TopicId">
                    @foreach (var topic in allTopics)
                    {
                        <option value="@topic.Id">@topic.Name</option>
                    }
                </select>
            }
            else
            {
                <p>any topic found</p>
            }
        </div>

        <div>
            <label asp-for="KeyWords"></label>
            <input asp-for="KeyWords" type="text">
        </div>
        <div>
            <label asp-for="Title"></label>
            <input asp-for="Title" type="text">
        </div>
        <div>
            <label asp-for="ShortDescription"></label>
            <textarea asp-for="ShortDescription" cols="50" rows="3" maxlength="150"></textarea>
        </div>
        <div>
            <label asp-for="DocFile"></label>
            <input asp-for="DocFile" type="file" accept=".docx, .doc">
        </div>
        <div>
            <input type="submit" value="Publish">
        </div>
    </div>
</form>