@model ArticlesListViewModel

@{

}


@if (!Model.Collection.Any())
{
    <h2>Empty.</h2>
}
else
{
    <section class="articles">
        <div class="container">
            <div class="articles__inner">
                @await Html.PartialAsync("Components/SearchPanel", Model.Collection)
                <h2 class="articles__title title">Статті</h2>
                @await Html.PartialAsync("Components/ArticlesList", Model.Collection)
            </div>
        </div>
    </section>
}