@{
    string title = ViewData["Title"] == null
        ? "APIT 2020 - Науково-технічна конференція"
        : "APIT | " + (string) ViewData["Title"];
    
    string language = (string) ViewData["Lang"] ?? "ua";
}

<!DOCTYPE html>
<html lang="@language">
<head>
    @await Html.PartialAsync("Partials/MetaPartial")

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="~/img/favicon/favicon-32x32.png" type="image/x-icon">

    <!-- Title -->
    <title>@title</title>

    <!-- Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="~/css/style.css"/>
    @* <link rel="stylesheet" href="~/css/style.min.css"/> *@
</head>

<body>

@await Html.PartialAsync("Partials/HeaderPartial")

@RenderBody()

@await Html.PartialAsync("Partials/FooterPartial")

<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.js" crossorigin="anonymous"></script>
<script src="~/js/script.min.js" asp-append-version="true"></script>

</body>
</html>