@{
    string title = ViewData["Title"] == null
        ? "APIT 2020 - Науково-технічна конференція"
        : "APIT | " + (string) ViewData["Title"];

    const string desc = "Інновації можуть змінити до невпізнання і світ, і нас самих. Та багато із них — ще довго не потраплять до наших рук. Звісно, за всіма дослідженнями та змінами постійно слідкувати важко. Саме для того, щоб підтримувати течію нескінченного, щоденного розвитку технологій — ми створили цю конференцію...";

    ViewData["meta_description"] = ViewData["meta_description"] ?? desc;
    ViewData["meta_google"] = ViewData["meta_google"] ?? desc;

    ViewData["meta_socials_title"] = title;
    ViewData["meta_socials_description"] = ViewData["meta_socials_description"] ?? desc;
    ViewData["meta_socials_image"] = "/img/fit.png";
    // ViewData["meta_socials_url"] = "";

    string language = (string) ViewData["Lang"] ?? "uk";
}

<!DOCTYPE html>
<html lang="@language">
<head>
    @await Html.PartialAsync("Partials/MetaPartial")

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="~/img/favicon/favicon-32x32.png" type="image/x-icon">

    <!-- Title -->
    <title>@title</title>

    <!-- Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    @* <link rel="stylesheet" href="~/css/style.css"/> *@
    <link rel="stylesheet" href="~/css/style.min.css"/>
</head>

<body>

@await Html.PartialAsync("Partials/HeaderPartial")

@RenderBody()

@if (ViewData["DisableFooter"] == null)
{
    @await Html.PartialAsync("Partials/FooterPartial")
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.js" crossorigin="anonymous"></script>
@* <script src="~/js/script.min.js" asp-append-version="true"></script> *@
<script src="~/js/script.min.js" asp-append-version="true"></script>

</body>
</html>