@model ErrorViewModel
@{
    ViewData["Title"] = "Упс, щось пішло не так...";
}

<h1 class="text-danger">Виникла якась помилка.</h1>
<h2 class="text-danger">Адміністрація вже розбираються, що не так.</h2>

<a class="signin__button" style="padding-top: 15px;" asp-action="index" asp-controller="home">
    На головну
</a>