@model ErrorViewModel
@{
    ViewData["Title"] = "Упс, щось пішло не так...";
}

<h1 class="text-danger">@ViewData["ErrorTitle"]</h1>
<h2 class="text-danger">@ViewData["ErrorMessage"]</h2>

<a class="signin__button" style="padding-top: 15px;" asp-action="index" asp-controller="home">
    На головну
</a>