@model BusinessLayer.Models.ConferenceViewModel

@{
    ViewData["Title"] = "Статистика по конференції";
}


<section class="archive">
<div class="container">
<div class="archive__inner">



</div>
</div>
</section>