@model BusinessLayer.Models.ConferenceViewModel

@{
    ViewData["Title"] = "Статистика по конференції";
}


<section class="archive">
<div class="container">
<div class="archive__inner">

    @if (Model.IsActual)
    {
        <a asp-area="" asp-action="" asp-controller="conference"></a>
    }
    
    <h3>ТЕМИ</h3>
    <ul>
        @foreach (var topic in Model.Topics)
        {
            <li>@topic.Name</li>
        }
    </ul>
    
    <hr>
    
    
    
</div>
</div>
</section>