<header class="header _anim-items">
    <div class="container">

        <div class="header__inner">
            <!-- reg -->
            <partial name="_LoginPartial"/>
            <!-- /reg -->

            <div class="header__burger">
                <span></span>
            </div>

            <!-- nav -->
            <nav class="header__nav nav">
                <ul class="nav__inner">
                    <!-- 1 -->
                    <li class="nav__link">
                        <a asp-controller="home" asp-action="index">Apit 2019</a>
                    </li> <!-- 3 ready -->
                    <!-- 2 -->
                    <li class="nav__link">
                        <span class="nav__link--span">Інформація <span></span></span>
                        <!-- 2.1 -->
                        <ul class="nav__subnav subnav">
                            <li class="subnav__link">
                                <a href="date_address.html">Дати та адреса</a>
                            </li>
                            <li class="subnav__link">
                                <a href="secretariat.html">Секретаріат</a>
                            </li>
                            <li class="subnav__link">
                                <a href="archive.html">Архів минулих конференцій</a>
                            </li>
                        </ul>
                    </li>
                    <!-- 3 -->
                    <li class="nav__link">
                        <span class="nav__link--span">Учасникам <span></span></span>
                        <!-- 3.1 -->
                        <ul class="nav__subnav subnav">
                            <li class="subnav__link">
                                <a href="requirements.html">Вимоги до тез доповідей</a>
                            </li>
                            <li class="subnav__link">
                                <a href="others/Зразок-оформлення-тез.docx">Зразок оформлення тез доповідей</a>
                            </li>
                            <li class="subnav__link">
                                <a href="articles.html">Завантажені статті авторів</a>
                            </li>
                        </ul>
                    </li>
                    <!-- 4 -->
                    <li class="nav__link">
                        <a href="others/APIT2019.pdf" target="blank">Матеріали конференції</a>
                    </li>

                </ul>
            </nav> <!-- /nav -->

        </div> <!-- /inner -->


    </div> <!-- /container -->
</header> <!-- /header -->