<section class="ways date">
    <div class="container">
        <div class="ways__inner">

            <h2 class="ways__title title">Важливі дати</h2>

            <!-- cards1 -->
            <div class="ways__cards">

                <!-- 1 -->
                <div class="ways__item">
                    <div class="ways__hexa date__hexa">
                        <div class="ways__num">01</div>
                    </div>

                    <div class="ways__text">
                        Заповнення заявки на участь (на сайті конференції) (Учасники, до 09 грудня 2019 року)
                    </div>
                </div>

                <!-- 2 -->
                <div class="ways__item">
                    <div class="ways__hexa date__hexa">
                        <div class="ways__num">02</div>
                    </div>

                    <div class="ways__text">
                        Надсилання тез доповіді (Учасники, до 12 грудня 2019 року)
                    </div>
                </div>

                <!-- 3 -->

                <div class="ways__item">
                    <div class="ways__hexa date__hexa">
                        <div class="ways__num">03</div>
                    </div>

                    <div class="ways__text">
                        Прийняття доповіді (Програмний комітет, до 17 грудня 2019 року)
                    </div>
                </div>

            </div>

            <!-- card2 -->
            <div class="ways__cards">

                <!-- 1 -->
                <div class="ways__item">
                    <div class="ways__hexa date__hexa">
                        <div class="ways__num">04</div>
                    </div>
                    <div class="ways__text">
                        Надсилання повідомлення про прийняття доповіді (Секретаріат конференції, до 18 грудня 2019 року)
                    </div>
                </div>

                <!-- 2 -->
                <div class="ways__item">
                    <div class="ways__hexa date__hexa">
                        <div class="ways__num">05</div>
                    </div>
                    <div class="ways__text">
                        Оплата організаційного внеску за примірник праць конференції (Учасники, до 19 грудня 2019 року, за потреби придбання додаткових примірників – при реєстрації 20 грудня 2019 року)
                    </div>
                </div>

                <!-- 3 -->
                <div class="ways__item">
                    <div class="ways__hexa date__hexa">
                        <div class="ways__num">06</div>
                    </div>
                    <div class="ways__text">
                        Надсилання копії квитанції про оплату організаційного внеску за примірник праць конференції на електронну адресу конференції (Учасники, до 19 грудня 2019 року)
                    </div>
                </div>
                
            </div>
        </div>

    </div> <!-- /container -->
</section> <!-- /ways -->

<section class="about address">
    <div class="container">

        <div class="about__inner">

            <h2 class="about__title title">Адреса</h2>

            <div class="about__item">
                <div class="about__img">
                    <iframe class="address__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.2215062704377!2d30.47172711561603!3d50.455599779475975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce80bb14c36b%3A0x5c4eb5067e6b48c6!2z0YPQuy4g0JHQvtCz0LTQsNC90LAg0JPQsNCy0YDQuNC70LjRiNC40L3QsCwgMjQsINCa0LjQtdCyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1603346961822!5m2!1sru!2sua" height="450"frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>

                <div class="about__text address__text">
                    <h3 class="about__header address__header">біля ст. Метро "Політехнічний інститут"</h3>

                    <div class="about__article address__article">
                        вулиця Богдана Гаврилишина, 24, м. Київ, 02000
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>