@{
    ViewData["Title"] = "Вимоги до тез доповідей";

    ViewData["meta_description"] = "";
    ViewData["meta_google"] = "";
    ViewData["meta_keywords"] = "";

    ViewData["meta_socials_title"] = "";
    ViewData["meta_socials_description"] = "";
    // ViewData["meta_socials_image"] = null;
}

<section class="requirements">
    <div class="container">

        <div class="requirements__inner">

            <h2 class="requirements__title title">Вимоги до тез доповідей</h2>

            <h3 class="requirements__subtitle">
                Правила оформлення тез доповідей та умови їх видання
            </h3>

            <ol class="requirements__list">

                <li class="requirements__thesis">
                    До друку приймаються тези доповіді однією з робочих мов конференції, обсяг яких <span>не перевищує 2-х сторінок</span>, включаючи рисунки, таблиці і список використаних джерел. Кількість співавторів – не більше 4 осіб
                </li>

                <li class="requirements__thesis">
                    Тези доповіді повинні бути підготовлені у форматі А4 за допомогою редактора МS Word. Поля – 2 см з усіх сторін. Файл має бути названий прізвищами всіх авторів. Сторінки не нумеруються
                </li>

                <li class="requirements__thesis">
                    Тези доповіді мають бути оформлені наступним чином <span>(див. зразок):</span>
                    <ul class="requirements__sublist">
                        <li class="requirements__subthesis">шрифт Тіmes New Roman, кегель 14 рt, інтервал 1</li>
                        <li class="requirements__subthesis">у лівому верхньому кутку</li>
                        <li class="requirements__subthesis">УДК</li>
                        <li class="requirements__subthesis">прізвище та ініціали автора (напівжирним шрифтом)</li>
                        <li class="requirements__subthesis">науковий ступінь, вчене звання, посада</li>
                        <li class="requirements__subthesis">установа, місто (курсивом)</li>
                        <li class="requirements__subthesis">назва тез (великими літерами, по центру, напівжирним шрифтом)</li>
                        <li class="requirements__subthesis">основний текст (вирівнювання по ширині, абзац 1 см.)</li>
                        <li class="requirements__subthesis">список використаних джерел</li>
                    </ul>
                </li>

                <span class="requirements__attention">ЗАБОРОНЯЄТЬСЯ ВИКОРИСТОВУВАТИ СКАНОВАНІ ОБ’ЄКТИ!</span>

                <li class="requirements__thesis">
                    Для назв таблиць, підпису рисунків використовувати вирівнювання по ширині, напівжирним шрифтом. Всі рисунки повинні бути згруповані як єдиний об’єкт. Формули розташовувати по центру з нумерацією по правому краю. При наборі формул використовувати редактор формул МS Office.
                </li>

                <li class="requirements__thesis">
                    Список використаних джерел наводиться у кінці тексту мовою оригіналу. Використані джерела нумеруються відповідно до порядку згадування у тексті. Посилання на джерело та сторінки у ньому подаються у квадратних дужках за текстом.
                </li>

                <span class="requirements__attention">Увага! До тексту тез доповіді, без узгодження з автором, можуть бути внесенні редакційні правки. Тези студентів друкуються у співавторстві з науковим керівником.</span>

                <li class="requirements__thesis">
                    Право рекомендувати тези доповіді до друку залишається за програмним комітетом.
                </li>

                <li class="requirements__thesis">
                    За результатами розгляду тез доповіді буде прийнято рішення про їх публікацію, про що буде повідомлено авторів.
                </li>

            </ol>

            <a class="button signin__button" href="~/static/Зразок оформлення тез.docx">Завантажити зразок</a>

        </div>

    </div>
</section>