@functions
{
    private class SecretariatModel
    {
        public string WebpImageSource { get; set; }
        public string ImageSource { get; set; }
        public string Heading { get; set; }
        public string FullName { get; set; }
        public string PhoneNumber { get; set; }
        public string ShortPhone { get; set; }
    }
}

@{
    ViewData["Title"] = "";
    
    ViewData["meta_description"] = "";
    ViewData["meta_google"] = "";
    ViewData["meta_keywords"] = "";
    
    ViewData["meta_socials_title"] = "";
    ViewData["meta_socials_description"] = "";
    // ViewData["meta_socials_image"] = null;

    var collection = new List<SecretariatModel>
    {
        new SecretariatModel
        {
            WebpImageSource = "Makhovych.webp",
            ImageSource = "Makhovych.jpg",
            Heading = "Менеджер конференції",
            FullName = "Махович Олександр Іванович",
            PhoneNumber = "т. (097) 672-72-36",
            ShortPhone = "+380976727236",
        },
        new SecretariatModel
        {
            WebpImageSource = "Dudnyk.webp",
            ImageSource = "Dudnyk.jpg",
            Heading = "Секретар конференції",
            FullName = "Дуднік Андрій Сергійович",
            PhoneNumber = "т. (096) 811-16-79",
            ShortPhone = "+380968111679",
        },
        new SecretariatModel
        {
            WebpImageSource = "Mischenko.webp",
            ImageSource = "Mischenko.jpg",
            Heading = "Секретар конференції",
            FullName = "Міщенко Оксана Миколаївна",
            PhoneNumber = "т. (044) 481-45-82",
            ShortPhone = "+380444814582",
        }
    };
}


<section class="secretariat">
    <div class="container">

        <div class="secretariat__inner">

            <h1 class="secretariat__title title">Секретаріат</h1>

            <div class="secretariat__items">

                @foreach (var person in collection)
                {
                    <div class="secretariat__card">

                        <div class="secretariat__img">
                            <picture>
                                <source srcset="~/img/@person.WebpImageSource" type="image/webp">
                                <img class="secretariat__pht" src="~/img/@person.ImageSource" alt="@person.FullName">
                            </picture>
                        </div>

                        <div class="secretariat__description">
                            <h3 class="secretariat__heading">@person.Heading</h3>
                            <h4 class="secretariat__name">@person.FullName</h4>
                            <a class="secretariat__phone" href="tel:@person.ShortPhone">@person.PhoneNumber</a>
                        </div>

                    </div>
                }

            </div>

        </div>

    </div>
</section>